body {
  background-color: #ECECEC;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #121214;
  color: #fff;
  width: 100%;
  height: 368px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .header__content {
  font-weight: bold; 
  
  height: 50%;
  width: 736px;
  display: flex;
  flex-direction: column;
  
  justify-content: flex-end;
  align-items: flex-start;
}

header .header__content h1 {
  font-family: "Archivo", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}

.content {
  position: relative;
  top: -70px;
  background-color: #fff;
  width: 736px;
  height: 120vh;
  border: 1px solid #D6D6D6;
  border-radius: 8px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.content .content__title {
  width: 100%;
  height: 45px;

  font-family: "Archivo", sans-serif;
  font-size: 24px;
  font-weight: semibold; 
  line-height: 34px;

  border-bottom: 1px solid #E6E6F0;

  margin-bottom: 10px;
}

.content .content__wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 50px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  
}

.content .content__footer {
  background-color: #F0F0F4;
  width: 100%;
  height: 15%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.content .content__footer input[type="submit"] {
  background-color: #DB1B1B; /* Altera para vermelho */
  color: #FFFFFF;

  border: none;
  border-radius: 8px;
  width: 80%;
  height: 50%;
  padding: 0 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: semibold; 
}

.fields {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

.fields input {
  width: 99%;
  line-height: 32px;
  border: none;
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  
}

.fields textarea {
  width: 99%;
  resize: none;
  line-height: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}